<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Richard Myers</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Monitoring</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames class="tree-set">
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>bll_ci</string>
            <string>bll_ci_join</string>
            <string>bll_coverage</string>
            <string>bll_linux</string>
            <string>bll_linux_x64</string>
            <string>bll_windows</string>
            <string>bll_windows_debug</string>
            <string>hnl_regressions_1</string>
            <string>hnl_regressions_2</string>
            <string>il_changeling</string>
            <string>il_ci</string>
            <string>il_qemu</string>
            <string>il_unit_test</string>
            <string>integration_il_virtual</string>
            <string>integration_il_vtc</string>
            <string>regression</string>
            <string>regression_changeling</string>
            <string>regression_cl_nightly</string>
            <string>regression_nightly</string>
            <string>ui</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
            <hudson.plugins.nodenamecolumn.NodeNameColumn/>
            <hudson.plugins.projectstats.column.NumBuildsColumn/>
          </columns>
        </hudson.model.ListView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>sMnhAG:d6deda5ee11fd3f340f73a6f00ccfb8711f92ea91766a0816e69ebcf91770d5d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Richard.Myers@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>yT7X9GHJgyZ8PvO+eIKeFbTvzTViM+bw4YXH6wiWRkk9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
  </properties>
</user>