<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>tdavis</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>QgWxKT:b0b1bff86d9fa6dcda91881cf366009050b972ec00cd4535052caa84dce26942</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>taulbee.davis@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>ESDg8/Iuj59uywYGkLLAz6xOnhyypQXK7ARNSM9W2LI9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
  </properties>
</user>