<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Qi Peng</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>4yxAd2ap+I+FCYLdwTYFQXCQr42/COpWfxIYPLO+fUg9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>cKNMAp:699f3e9c27d0f001dee667ee88c6a92ab01a7c1271ba9c6d964c53888a38c2f7</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Qi.Peng@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
  </properties>
</user>