<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Hardware test framework IDL to JAR conversion</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>50</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>Perforce TestCenter branch to get files from, example: &quot;integration&quot;, &quot;release&quot;, etc.</description>
          <defaultValue>integration</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.26">
    <configVersion>1</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>+//TestCenter/${BRANCH_NAME}/build/il/testframework/testexecuter/... //ws/build/il/testframework/testexecuter/...&#xd;
+//TestCenter/${BRANCH_NAME}/build/il/phxTclLib/...  //ws/build/il/phxTclLib/...&#xd;
+//TestCenter/${BRANCH_NAME}/build/il/testframework/mydefaults/... //ws/build/il/testframework/mydefaults/...&#xd;
+//TestCenter/${BRANCH_NAME}/build/il/testframework/testcases/dmstart/*.idl  //ws/build/il/testframework/testcases/dmstart/*.idl&#xd;
+//TestCenter/${BRANCH_NAME}/framework/.../*.idl //ws/framework/.../*.idl&#xd;
+//TestCenter/${BRANCH_NAME}/content/.../*.idl //ws/content/.../*.idl&#xd;
+//TestCenter/${BRANCH_NAME}/common/lib/java/...  //ws/common/lib/java/...&#xd;
+//TestCenter/${BRANCH_NAME}/framework/def/... //ws/framework/def/...&#xd;
+//TestCenter/${BRANCH_NAME}/framework/tools/scg/...  //ws/framework/tools/scg/...&#xd;
+//TestCenter/${BRANCH_NAME}/framework/tools/xcg/...  //ws/framework/tools/xcg/...&#xd;
+//TestCenter/${BRANCH_NAME}/framework/tools/xsdValidator/... //ws/framework/tools/xsdValidator/...</projectPath>
    <projectOptions>noallwrite clobber compress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>0</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>false</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>10.2.20.68</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;generate idl&quot;

cd framework/tools/scg

python ./scg.py --module il ../../../framework/def ../../../framework/def/stcFramework.xml

python ./scg.py --module il ../../../framework/def ../../../framework/def/stcCore.xml
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;execute idltojar&quot;

cd build/il/testframework/testexecuter

./idltojar.sh

echo &quot;archive jar files&quot;

tar -zcvf java.tar.gz ./java/
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.chucknorris.CordellWalkerRecorder plugin="chucknorris@0.5">
      <factGenerator/>
    </hudson.plugins.chucknorris.CordellWalkerRecorder>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/il/testframework/testexecuter/java.tar.gz</artifacts>
      <latestOnly>true</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>