<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Patrick Heffernan</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>sk3kRv17izRtiAWC+x1FetgjukE6WpZ9En0ZyYoX1nc9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ijSEdj:c2b3130e818d339a228631934dc5a9e002f94d65a04edf39a2adbe527d65e361</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>patrick.heffernan@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>