<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Brad Whittington</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>BRz3l7qVTJS0OV7giJjxrRF5U8/Y+Wzlrfqgfn61Q3I9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>XdFmqJ:e5d2c505d35bbe055cb5e9ce6999484141ea9738b323ca0026bbe82b1a9b1fd7</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>bwhittingt@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>