<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>echo &quot;UNSTABLE BUILD&quot;

</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.copyartifact.CopyArtifact plugin="copyartifact@1.30">
      <project>new_branch_setup</project>
      <filter>test.txt</filter>
      <target></target>
      <selector class="hudson.plugins.copyartifact.PermalinkBuildSelector">
        <id>test promotion</id>
      </selector>
      <flatten>true</flatten>
      <doNotFingerprintArtifacts>false</doNotFingerprintArtifacts>
    </hudson.plugins.copyartifact.CopyArtifact>
    <hudson.plugins.python.Python plugin="python@1.2">
      <command>import sys,os,string,re,subprocess,smtplib,urllib2,time
jenkins_url = &quot;http://jenkins.cal.ci.spirentcom.com:8080/view/integration_summary_packaging/job/integration_launch_nightly_builds/lastSuccessfulBuild/api/xml?xpath=/*/artifact[1]/fileName&quot;
output1 = urllib2.urlopen( jenkins_url).read()
output1 = output1.replace(&quot;fileName&quot;, &apos;&apos;)
output1 = output1.replace(&quot;&lt;&quot;, &apos;&apos;)
output1 = output1.replace(&quot;&gt;&quot;, &apos;&apos;)
output1 = output1.replace(&quot;/&quot;, &apos;&apos;)
print output1

</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@1.8">
      <groovyScript>import hudson.model.*
manager.listener.logger.println(&quot;hello&quot;)
if(manager.logContains(&quot;.*UNSTABLE BUILD.*&quot;)) {
    //manager.addWarningBadge(&quot;Build unstable.&quot;)
    manager.createSummary(&quot;folder.gif&quot;).appendText(&quot;&lt;a href=\&quot;\\\\storage\\builds\\jenkins\\il_changeling\\build-6435\&quot;&gt;\\\\storage\\builds\\jenkins\\il_changeling\\build-6435&lt;/a&gt;&quot;, false, false, false, &quot;orange&quot;)
     manager.buildSuccess()
    // manager.buildUnstable()
   manager.listener.logger.println(&quot;Marking build unstable&quot;) 
     //manager.build.setResult(hudson.model.Result.UNSTABLE)
   manager.build.@result = hudson.model.Result.UNSTABLE
}

</groovyScript>
      <behavior>1</behavior>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers/>
</project>