<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Eric Green</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>3JycKNrs8w1BDk6C0QqNqMq6cf+rd5W+NNIr/MmZM6s9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>RWvAPX:181f21bd0f85de9c02dd4a94b57fb74740a268780ca604d3c5f2ea8c546a157c</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>eric.green@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>