<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>xinlei.lan</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>NlbvdEfvH+IZn10smNe8CWWDlwE939K3N29HE/qLPOc9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>oVPwQZ:010e0ebe72c733a365b1dc5a1926d2fa7aace26d854a39d334acb531231b33a2</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>xinlei.lan@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>