<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Misti hirasa</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>PJME9AVWEPTLh9N/pqQc8+pRc2Jf8tN+Jvxovn2Ufys9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>dzVHRc:59a156ed41cc22db328decc0cd2127fce5fb27937ce4236fa47866a7fe1f618f</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>phoebs777@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>