<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Soo Hwan Park</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>t0B7K7v1QexQVJn9avZbiLSbPG0SITH2+XW0bkqWid49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>eLnvvF:127786cf6a4951f7b3d59d1e2a7cef4e4fb76b8fd79c300e635927a0a7fc6057</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>soohwan.park@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>