<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Sabrina Matsunaga</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>IupwpgzN16XovpAlIu2PKMMM4+xp3z2QPak3YyB4RT49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>smatsunaga</perforceId>
      <perforceEmail>sabrina.matsunaga@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>XGzLCC:de41c67c64a585f84aefaa8d38b94bd5840c4fb577ef6c917ca0aee789f14c13</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Sabrina.Matsunaga@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>