<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>kachon lei</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ehnScv:4d16b1544af861d42172a27ba0c2e43f0d0dec0964cf8e48be3fc14831df0551</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>kachon.lei@spirentcom.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>