<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jun.wang</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>jvA/IMDXApVgjiSvCzpMg+VJTJSBC+ZM0NEVn6dKMEY9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>hdkoLm:8e5d2fac5a1637ffc2c0e9059ce9f12f37520364f5d1c14185fb57bf1fd10354</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>jun.wang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>