<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Colossus FX2 1x100G NIC FPGA Synthesis</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>50</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>true</useBuildBlocker>
      <blockingJobs>hw_syn.*</blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SYNOPSYS_PATH</name>
          <description>path to the intended version of Synopsys executable binaries, example:  /net/storage_cal_ci/general/Development/Hardware/FPGA/Tools/Synopsys/H-2013.03-SP1-1/bin</description>
          <defaultValue>/net/storage_cal_ci/general/Development/Hardware/FPGA/Tools/Synopsys/H-2013.03-SP1-1/bin</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SYNOPSYS_LIB_PATH</name>
          <description>path to the intended version of Synopsys binary libraries, example:  /net/storage_cal_ci/general/Development/Hardware/FPGA/Tools/Synopsys/H-2013.03-SP1-1/linux_a_64/lib</description>
          <defaultValue>/net/storage_cal_ci/general/Development/Hardware/FPGA/Tools/Synopsys/H-2013.03-SP1-1/linux_a_64/lib</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LM_LICENSE_FILE</name>
          <description>FlexLM license server ports, example:  1709@spcsjcapp01.ad.spirentcom.com:1709@SPCCALFLEX02.ad.spirentcom.com</description>
          <defaultValue>1709@SPCCALFLEX02.ad.spirentcom.com</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.27">
    <configVersion>1</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforce.spirentcom.com:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <projectPath>+//SPT_HW/Colossus/sandbox/ColossusFX2_1x100G/IP_Vivado/... //ws/IP_Vivado/...

+//SPT_HW/Colossus/sandbox/ColossusFX2_1x100G/SourceCode/... //ws/SourceCode/...

+//SPT_HW/Colossus/sandbox/ColossusFX2_1x100G/SynplifyNIC/...  //ws/SynplifyNIC/...</projectPath>
    <projectOptions>noallwrite clobber compress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jenkins.ad.spirentcom.com:5104/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>true</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>true</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFiles>//SPT_HW/Colossus/sandbox/ColossusFX2_1x100G/SourceCode/include/VERSION*.v</excludedFiles>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>fpga-imp-02||fpga-imp-03</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#configure environment
export PATH=${SYNOPSYS_PATH}:$PATH
export LD_LIBRARY_PATH=${SYNOPSYS_LIB_PATH}:$LD_LIBRARY_PATH
export LM_LICENSE_FILE=${LM_LICENSE_FILE}

echo ${P4_CHANGELIST} &gt; changelist.txt

#start synthesis
echo &quot;Synthesizing&quot;
${SYNOPSYS_PATH}/synplify_pro -batch -license_release &quot;./SynplifyNIC/ColossusFX2_NIC100G.prj&quot; || cat ./SynplifyNIC/rev_1/*.srr
cat ./SynplifyNIC/rev_1/*.srr

#generate MD5 checksum file for netlist
if [ -f ./SynplifyNIC/rev_1/ColossusFX2_NIC100G.edf ];
then
    echo &quot;Generating MD5 check sum file for netlist&quot;
    cd ./SynplifyNIC/rev_1/
    md5sum -b ColossusFX2_NIC100G.edf &gt; ColossusFX2_NIC100G.edf.md5
fi</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition" plugin="run-condition@1.0">
        <worstResult>
          <name>UNSTABLE</name>
          <ordinal>1</ordinal>
          <color>YELLOW</color>
          <completeBuild>true</completeBuild>
        </worstResult>
        <bestResult>
          <name>SUCCESS</name>
          <ordinal>0</ordinal>
          <color>BLUE</color>
          <completeBuild>true</completeBuild>
        </bestResult>
      </runCondition>
      <conditionalbuilders>
        <org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerBuilder plugin="artifactdeployer@0.28">
          <entry>
            <includes>*.edf*, *.srr, *_edif.xdc</includes>
            <basedir>SynplifyNIC/rev_1</basedir>
            <excludes></excludes>
            <remote>/net/storage_cal_ci/builds/dev/fpga/colossus/${JOB_NAME}-${BUILD_NUMBER}</remote>
            <flatten>true</flatten>
            <deleteRemote>false</deleteRemote>
            <deleteRemoteArtifacts>true</deleteRemoteArtifacts>
            <deleteRemoteArtifactsByScript>false</deleteRemoteArtifactsByScript>
            <failNoFilesDeploy>false</failNoFilesDeploy>
          </entry>
        </org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerBuilder>
        <org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerBuilder plugin="artifactdeployer@0.28">
          <entry>
            <includes>changelist.txt</includes>
            <basedir></basedir>
            <excludes></excludes>
            <remote>/net/storage_cal_ci/builds/dev/fpga/colossus/${JOB_NAME}-${BUILD_NUMBER}</remote>
            <flatten>true</flatten>
            <deleteRemote>false</deleteRemote>
            <deleteRemoteArtifacts>true</deleteRemoteArtifacts>
            <deleteRemoteArtifactsByScript>false</deleteRemoteArtifactsByScript>
            <failNoFilesDeploy>false</failNoFilesDeploy>
          </entry>
        </org.jenkinsci.plugins.artifactdeployer.ArtifactDeployerBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>SynplifyNIC/rev_1/*.edf*, changelist.txt, SynplifyNIC/rev_1/*_edif.xdc</artifacts>
      <latestOnly>true</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/opt/jenkins/jenkins-root/synplify_pro_rule</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Fingerprinter>
      <targets></targets>
      <recordBuildArtifacts>true</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.perforce.PerforceTagNotifier plugin="perforce@1.3.27">
      <rawLabelName>${JOB_NAME}-${BUILD_NUMBER}</rawLabelName>
      <rawLabelOwner></rawLabelOwner>
      <rawLabelDesc>${JOB_NAME}-${BUILD_NUMBER}</rawLabelDesc>
      <onlyOnSuccess>true</onlyOnSuccess>
    </hudson.plugins.perforce.PerforceTagNotifier>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.37.2">
      <recipientList>$DEFAULT_RECIPIENTS; alex.su@spirent.com, James.Bauder@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.16">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>echo &quot;!!! CLEAN OUT WORKSPACE !!!&quot;
rm -rf ${WORKSPACE}/*</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>false</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
    <hudson.tasks.BuildTrigger>
      <childProjects>hw_imp_colossus_fx2_100g_nic</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.8"/>
  </buildWrappers>
</project>