<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Felma Duque</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>51KKe+WeN+zqI8mTYknVl+6YnXVo+dqFyu92KI203VSr4Y06FIA/BhVvdSRSD6Xn</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>FjGFBk:0114f51a4f8dc19484b0dcf69e657af53c0e31ced62f2a034fe6fb2a7f0b67ae</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>felma.duque@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.4">
      <credentials/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.21"/>
  </properties>
</user>