<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Krishna Singh</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>vdp22eKaijUMzgUXftw69XZCh9cDmeZ+bA1lWcjuKrE9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>zVhDbP:18ebf86c04ef20e7514251520ab2b8ae9e70a1d555874a793537256cf8f074b0</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>krishna.singh@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>