<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Cliff Cordeiro</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>yeBQxT:0ed90c4ef34e7d8d1d2c1ac32e74cda0d8db6399a0c26528c1808fb0d28df882</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>cliff.cordeiro@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>