<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Ramana Pureti</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>rpureti</perforceId>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>LMRNPl:410f071cb8513acb687d9e6ee8e2d094378129257aabb8b05a88b6c08def0846</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ramana.pureti@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>