<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Huzefa Zakir</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>j+UcfIm7yH4wXBDIE5Zle1zs8VOxWPZbfafZ8/hxEJw9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>BtnKeM:f2154a76f303cae9719bc7b3b8969b55df2af2df7c206ad724e6b65c284e2dc7</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>huzefa.zakir@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>