<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Chanaka Liyana Arachchige</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>lSONRLkjcZOY0URaXEB0Y2jSN/XLmVxpo6/vyAMXhI09px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>cliyana</perforceId>
      <perforceEmail>chanaka.liyana@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>fdtWsG:64a61ad47752847bd938499869e36cc96cbd61d23051c3a79b4b7b069e70d69a</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>chanaka.liyana@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>