<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Sanket Godbole</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>kHoRdl0DcllTJNB117R5HZ3aHD4aY4eJerCE+TA67Og9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>sgodbole</perforceId>
      <perforceEmail>Sanket.Godbole@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>VDBiWs:9647856220b9390dbe3b11ab20cc6cde9d4de9c51d50864b8593c09d82d15b5d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>sanket.godbole@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>