<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Lili Huang</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>lihuang</perforceId>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>JXjdrF:c1a295a336c0044fc5f930a2088fade7494bfaaee6d94c801c5e0c9f2ae82ad6</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>lili.huang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>