<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Mark Hall</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>vejPn6xGj24D10xCWVdlDDV84h5HHb1tK697S+7Iow09px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>CRZbBk:bfed956bdf40dd2c13a4420767677c4546337123ae7b3249fd90497662aa6279</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>mark.hall@spient.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>