<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zhang,Ying</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>eH+23C9Wa92bIsYyYm8JvDao4GJJOOCjPizewZOnBQM9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>meqkOw:d2b8c27b87d4fb7e51e19cd1966a5c1b0b0970e9b294dd64f61d1fa610a97779</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ying.zhang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>