<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Wes Seifert</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>A654LrwUZpMHAa1N3NS/i89ZmFtjVTT9d/4+aNuGLC09px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>iPgtZZ:6033b0ed424e7866b777fa490edb50a6ad16ae8c4484af6585796b657e45a098</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>wes.seifert@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>