<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>binggang.liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0sKAJFvz/SdkQvtBij/anXU+90E4QNdqKf3ypZeEbq89px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>jlCvhX:98ee4c4661e2b6e9a0c448e97f7c775c5eca390421be06ad8806c74ce1aa8be7</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>binggang.liu@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>