<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ospirt</fullName>
  <properties>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.5"/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>XxJ3TP6EdqNjOvV+sBvGTsevkdyArjurnyFBVwxHy0jqlWwTZVWZxIaoG2HQI+ax</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.9.3">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.26"/>
  </properties>
</user>