<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Nicolas Segoviano</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Qinr38axvKMTochhF3AyR31BeuDrADQsGuNcoG2PbOk9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>URJimI:a35a2e1952228070f577b54ae66a86af9e32341830f0a489a04f45f8cce9f33d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>nicolas.segoviano@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>