<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Hoang Truong</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>aNLY1guC8I3gQsh2ySn/a6W5HUleEbG2f1QkIGS5VX09px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>hKylWJ:3b8847a2aa44611d2fb468d0d6cf63818269f5b776b86e334000efd7c1261219</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>hoang.truong@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>