<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Ishwar Jasuja</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>J1ukLRgukUpnuBtJJbtHmvGrm13m/to6gDL9nmv4ym89px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>IJasuja</perforceId>
      <perforceEmail>Ishwar.Jasuja@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>xbcliN:d496061c44c6d4dab833745c3802612add0ab4e892a5dce68a7fd81d8235362b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Ishwar.Jasuja@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>