<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Charles Myers</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>m7f0FP9olMsSvdSL2687Yp7tVisN15nt3NcZWgO0ht49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>Charles.Myers</perforceId>
      <perforceEmail>Charles.Myers@spirentcom.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>uHEryi:3da630e2f1c07c1bd4331e0c9dcc9f8e4829a9defd972f57115dfafb69fd3507</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>charles.myers@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>