<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Gavin Li</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>OkXxc9cX9lMu13N8gKzO0SZwNBNIbLtc3mkfyradtbk9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>Fahubl:a133a7098e21ec701075974768cbbfd1de85ae7b6cf336923d6042ee4bd9460e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>gavin.li@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>