<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Misti Hirasa</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0IzS3ekR6n8SB1Ger6Kp9GZUCYQhHvOQ4Xl23VxjlWo9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>FUjJqX:d802c36a831af342f627bf51f7f9e11453cbb44f1c531e71dc47141f6fc1327f</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>misti.hirasa@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
  </properties>
</user>