<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Robin Kizirian</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>HX446tKzXDRVXTQZuOyNSRPicbDp0/Awz+x2qQ5ADec9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>rkizirian</perforceId>
      <perforceEmail>Robin.Kizirian@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>PEzdai:f243b6d6e724b5af3d780a380f83e8d73e4b8e0c82c92228dd7da73f53971c85</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>robin.kizirian@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>