<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zhou, Yiqin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>FIzMUWRkKcOqJG7UUFapGha/5Yw9o0yWEDiqbV+p+q49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>pUDIee:f19188e2b1201144c7163bcc4ecf0554163b8ce8ce697d42313c3f6d26070e36</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>yiqin.zhou@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>