<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>50</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description>branch name</description>
          <defaultValue>mainline</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STC_MAJ_MIN_VERSION</name>
          <description>major minor version TODO: get this from a file</description>
          <defaultValue>1.10.3</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.27">
    <configVersion>1</configVersion>
    <p4User>tableuser</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforceproxy.cal.ci.spirentcom.com:1999</p4Port>
    <p4Client>${JOB_NAME}_${BRANCH_NAME}</p4Client>
    <projectPath>//Wireshark_Spirent/${BRANCH_NAME}/src/... //ws/...</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive></p4SysDrive>
    <p4SysRoot></p4SysRoot>
    <p4Tool>p4</p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>false</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>true</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>0</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <useViewMaskForChangeLog>false</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>wshark-Win7-64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.python.Python plugin="python@1.2">
      <command>import os
import glob

print &quot;++++++++++++++ Check if installers from all VMs (Windows/CentOS/Ubuntu 32-bit and 64-bit) are uploaded to \\storage\builds\wireshark ++++++++++++++&quot;

ver = &apos;0&apos;

fread = open(&apos;\\\\storage\\builds\\wireshark\\latestbuild.txt&apos;,&apos;r&apos;)
for line in fread:
    if &apos;wireshark-1.10.3-spirent_&apos; in line:
        junk1, ver = line.split(&apos;_&apos;, 4)
fread.close()

filepath = &quot;\\\\storage\\builds\\wireshark\\wireshark-1.10.3-spirent_&quot; + ver

win32 = False
win64 = False
centos32 = False
centos64 = False
ubuntu32 = False
ubuntu64 = False

print &quot;++++++++++++++ List all files under \\storage\builds\wireshark ++++++++++++++&quot;
#for (dirpath, dirnames, filenames) in os.walk(path):
#     print filenames

filenames = [f for f in os.listdir(filepath) if os.path.isfile(os.path.join(filepath,f))]
for name in filenames:
     if name == &quot;wireshark-1.10.3-spirent_&quot;+ver+&quot;.i686.rpm.tar.gz&quot;:
           centos32 = True
     elif name == &quot;wireshark-1.10.3-spirent_&quot;+ver+&quot;.x86_64.rpm.tar.gz&quot;:
           centos64 = True
     elif name == &quot;wireshark_1.10.3-spirent-&quot;+ver+&quot;_i386.deb.tar.gz&quot;:
           ubuntu32 = True 
     elif name == &quot;wireshark_1.10.3-spirent-&quot;+ver+&quot;_amd64.deb.tar.gz&quot;:
           ubuntu64 = True 
     elif  name == &quot;Wireshark-win32-1.10.3-Spirent-&quot;+ver+&quot;.exe&quot;:
           win32 = True
     elif  name == &quot;Wireshark-win64-1.10.3-Spirent-&quot;+ver+&quot;.exe&quot;:
           win64 = True

filestring = filepath + &quot;\\&quot;

if win32 == True and win64 == True and centos32 == True and centos64 == True and ubuntu32 == True and ubuntu64 == True:
	fo = open(filestring+&apos;All installers uploaded successfully.txt&apos;, &apos;w+&apos;)
	fo.close();
else:
	if win32 == False:
		filestring = filestring +&apos;windows 32, &apos;
	if win64 == False:
		filestring = filestring +&apos;windows 64, &apos;
	if centos32 == False:
		filestring = filestring +&apos;centos 32, &apos;	
 	if centos64 == False:
		filestring = filestring +&apos;centos 64, &apos;
	if ubuntu32 == False:
		filestring = filestring +&apos;ubuntu 32, &apos;	
 	if ubuntu64 == False:
		filestring = filestring +&apos;ubuntu 64&apos;
	fo = open(filestring+&apos; installers are not uploaded. This build failed.txt&apos;, &apos;w&apos;)
	fo.close()
	
	exit(1)	</command>
    </hudson.plugins.python.Python>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>wireshark_SMT</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@1.0.8">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>/opt/jenkins/jenkins-root/log_parse_rule</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.37.2">
      <recipientList>lili.huang@spirent.com,somboon.ongkamongkol@spirent.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.5.8"/>
  </buildWrappers>
</project>