<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Niu Weiying</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>7aVWQgqALYwHed+CKP6oyvO9vpLdMd6/l8kYJsEuRNfqlWwTZVWZxIaoG2HQI+ax</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>lpZAjU:d6b298d17952b9444aba867cee691f365f0cbe007691e6ad56a9239def43ff8b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.8">
      <emailAddress>Weiying.Niu@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.10">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.plugins.perforce.PerforceUserProperty plugin="perforce@1.3.27"/>
  </properties>
</user>