<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Bibin Shakya</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>+9ohXlr4s4ScYGmdt3yXlyizxToH7IcsfynaC+8b5049px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>NMLJPb:889e0fb101726df30256c13c4c491155e540d4663f1cc811ef366b0e3cc13667</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Bibin.Shakya@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>