<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Charles Myers</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>/sJhyiIE2aW3D5FUebj7Ecga6jIvYUqVgwSWaYC2t049px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>charles.myers@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>EhBUda:bd4692162aa85db680601aebaa3126a2a4625a30e65e3f5cf77ed6b420772075</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
  </properties>
</user>