<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Olga Wagner</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>veW0RkIG0yYhzs0IU7EfRvqyHPyc2tHdZUu9pHe3+UE9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>owagner</perforceId>
      <perforceEmail>Olga.Wagner@spirent.com</perforceEmail>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>eUUXQH:3d77bece0fad4a385dbc777356b57ebe6d63bfc38ae6f26f550a2c98de22a721</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>olga.wagner@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>