<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Rance Yamamoto</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>Rance.Yamamoto</perforceId>
    </hudson.plugins.perforce.PerforceUserProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>xbrkde:b78d684e288e4a61e7b8c5b2926ae344750ec800affdc5da80d01a4ba7de9f4d</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>rance.yamamoto@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>