<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Saumil Mehta</fullName>
  <description></description>
  <properties>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>saumil.mehta@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>XFYPHX:61b3898a6efd613b8aefc3105ef1771a73b1c8fc716f0c9f9d0457282a1efcd4</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.plugins.perforce.PerforceUserProperty>
      <perforceId>SMehta</perforceId>
    </hudson.plugins.perforce.PerforceUserProperty>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
  </properties>
</user>