<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Chaonan Wang</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>IkBXJwn/FLRLXSS+Prs4E2zF/9KhER/zEasYAO54Zj49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>gUBXYN:8718bc0f14f4da1ff10b6e2c2990d74ac7ea62a8f2ceee31124926c377dfee96</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>chaonan.wang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>