<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Sabrina.Nian</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>GVk0ztttdA2rAZeetrTlQRuZl3IT3Vdqt8KkwOuyqz89px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>aazWnF:f5697c116e807ef7b8f8db448c4d2ac2eceb0d831a2b1e63dfd6dcffd974cf7c</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Sabrina.Nian@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>