<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Annmarie Young</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>7fnssivoairVBKO/0KgPy51RlyWLwO7HAbTlbkCJhRU9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>TFeFbO:e34123122ebcc648975db773b4c6c4053b9791d4fa0f14cf680999e3ad95a9ba</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>annmarie.young@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>