<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>tliu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>5BviTJ5SZa9bkwi7fhlK2xSnKknY9T/XpFyudEMMaN09px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.tasks.Mailer_-UserProperty/>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
  </properties>
</user>