<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Rick LaMont</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>ccb3+uPjxvyv0Tz1yi78pz+cXQH/zQEgotMF9r/RoXM9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>Ryeynk:9c677ea7fd3573b62efa5e0ba5993d9b55fdce6a227116c9facf76cd6f37063f</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>rick.lamont@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>