<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Binggang Liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>YnEmOIzkzAyr3Av/uylO3/DqgPWCQwPbus52B6bjI9Y9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>tYscNZ:f8b2c5d808bedaf033f9014a96c5a269d2d98a6a82341636d3ec3194e73b4b0b</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>binggang.liu@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>