<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Zhang,Ying</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>V+UTlB3vC6L2u79UwXe9519IH1au2ZoeVg3PpiaBAm49px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>jQiMPw:96f3557b5af4fbe4bb26ba5d747f0dc0bc2cab164a13887dcef604c285255c52</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ying.zhang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>