<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Jin Lu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>9Yq1U3SwlDpdWNfY4NyzFkoA4muGqTeZoI5rmJWkghM9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>wSLadI:6bc8e7b82b7ba429244b62067c348aaf54bdc9be2948f24a71dbdbfdd2304d09</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>jin.lu@yahoo.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>