<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Milena Kari</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>UZype1bUtMrna1YUU3j5SZsYx80ZH6R/fsxHaCaMQoY9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>nkcrpu:06bc2d524eadf439b4ac6744383873bd4509e50efecbfbc017217bdacf9cee89</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>milena.kari@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>