<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Howard Turner</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>UCxhO0XTF9d/MyhvkaAdFfeJZFMP4n6Ln8GSOwCOsLw9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>GTgUbg:b90563f48d89089d83fce0618acf67ebfef56d1cf516d96805862a7a8c798702</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>howard.turner@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>