<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Myron Kwock</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>agC1/VpONEFQWad5BCblWsOB3Q8PDWu6n7tOJXp9ot89px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>pGUpyd:8b58df2e88ce4e9615d23b0f27d6820b719e54e47abe99ab3987c996fe2b790a</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>myron.kwock@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>