<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jun wang</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>h9hFdT9TlosaM3bUn5oVsb9jZaRkqpwDUv6hwiOyAFM9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>DXDjqU:1c73c4f7abcded72efa3e53ae9db47a115e4f475e4cc128d5f99411cad3a91bc</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>jun.wang@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
  </properties>
</user>