<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Christina</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>TfjEhJ6Q+7WRFJdCVDQiVuF6km98D9wlpqS6+tWVyzw9px31QpF+or0C9YH8o/76</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.perforce.PerforceUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>zkfDDU:5fbf676028354f03b9e640d04cce46d952cab3f1916222737e8fbb33eed7b7bc</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>li.cui@spirent.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>